#mainHeaderContainer {
    width: 100%;
    padding: 0px 100px;
}

@media screen and (max-width: 1245px) {
    #mainHeaderContainer {
        width: fit-content;
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    #mainHeaderContainer {
        width: 100%;
        padding: 0px 100px;
    }
}

#topBarLink {
    text-decoration: none;
    color: black;
}

#topBarLink:hover {
    color: blue;
}

#searchbar {
    padding: 5px;
    width: 500px;
    border: 2px solid green;
    border-radius: 3px 0px 0px 3px;
    transition: width 0.3s ease;
    /* Add transition property for smooth width changes */
}

@media screen and (max-width: 1450px) {
    #searchbar {
        width: 320px;
    }
}

@media screen and (max-width: 1050px) {
    #searchbar {
        width: 200px;
    }
    
#headerIcon {
    .nav-item {
        margin: 0 0;
    }
}
}

#searchbtn {
    padding: 4.7px;
    border: 2px solid green;
    border-radius: 0px 3px 3px 0px;
    background-color: green;
    color: white;
}

#selBtn {
    background-image: url("../assets/image/logo/sellborder.png");
    background-size: 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 7px;

}

#dropdownDiv {
    padding-left: 30px;
    width: 300px;

    h6 {
        padding-top: 10px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: small;

    }

    a:hover {
        color: #00A49F;
    }
}

#navbarDiv {
    span:hover {
        cursor: pointer;
    }
}

#navbarDiv2 {
    a {
        text-decoration: none;
        color: black;
        padding-left: 20px;
        font-size: small;

    }

    a:hover {
        color: #00A49F;
    }

}

#loginBtn {
    cursor: pointer;
    border-bottom: 2px solid green;
    background: transparent;
    color: green;
    font-weight: bold;


}

#forLoginBtn {
    padding: 10px;
    width: 80%;
    background: transparent;
    border-radius: 10px;
    font-weight: bold;

}

#PhoneInput {
    outline-color: aqua;
}

#nxtBtn {
    background-color: green;
    color: white;
    font-weight: bold;
}


#headerIcon {
    display: flex;

    .nav-item {
        margin: 0 10px;
    }
}
.forDisableHeader{
    display: none;
}