#catLogo {
    a {
        display: block;
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
}

#cardContainer {
    a {
        text-decoration: none;
        font-weight: bold;
    }
}